:host {
  display: contents;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

@media (max-width: 991px) {
  .body {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
}