.card-grid {
    width: 50%;
    padding: 2em;
  }
  
  .card-row {
    width: 100%;
    display: flex;
    margin-bottom: 0.2em;
  }
  
  .card-row-details {
    background-color: #eee;
    flex-grow: 1;
    padding: 0.4em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em;
    cursor: pointer;
  }
  
  .card-row-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-row-action button {
    cursor: pointer;
    padding: 1em;
    background-color: #ef5350;
    color: white;
    border: none;
    margin-left: 10px;
  }
  