<table class="table">
  <thead class="thead">
    <tr>
      <th class="th">ID</th>
      <th class="th-2">Title</th>
      <th class="th-3">Author</th>
      <th class="th-7">Genre</th> 
      <th class="th-4">Year Published</th>
      <th class="th-5">Description</th>
      <th class="th-6">Stock</th>
      <th class="th-8">Actions</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr *ngFor="let book of books">
      <td class="td">{{ book.bookID }}</td>
      <td class="td">
        <input *ngIf="editBook && editBook.bookID === book.bookID" [(ngModel)]="editBook.title" />
        <span *ngIf="!editBook || editBook.bookID !== book.bookID">{{ book.title }}</span>
      </td>
      <td class="td">
        <input *ngIf="editBook && editBook.bookID === book.bookID" [(ngModel)]="editBook.author" />
        <span *ngIf="!editBook || editBook.bookID !== book.bookID">{{ book.author }}</span>
      </td>
      <td class="td">
        <input *ngIf="editBook && editBook.bookID === book.bookID" [(ngModel)]="editBook.genre" />
        <span *ngIf="!editBook || editBook.bookID !== book.bookID">{{ book.genre }}</span>
      </td>
      <td class="td">
        <input *ngIf="editBook && editBook.bookID === book.bookID" [(ngModel)]="editBook.publicationYear" />
        <span *ngIf="!editBook || editBook.bookID !== book.bookID">{{ book.publicationYear }}</span>
      </td>
      <td class="td">
        <input *ngIf="editBook && editBook.bookID === book.bookID" [(ngModel)]="editBook.bookDescription" />
        <span *ngIf="!editBook || editBook.bookID !== book.bookID">{{ book.bookDescription }}</span>
      </td>
      <td class="td">{{ book.isInStock ? 'In Stock' : 'Out of Stock' }}</td>
      <td class="td">
        <button *ngIf="editBook && editBook.bookID === book.bookID" class="btn-primary" (click)="saveBook(editBook)">Save</button>
        <button *ngIf="editBook && editBook.bookID === book.bookID" (click)="cancelEdit()">Cancel</button>
        <button *ngIf="!editBook || editBook.bookID !== book.bookID" class="btn-primary" (click)="editBookDetails(book)">Edit</button>
        <button *ngIf="!editBook || editBook.bookID !== book.bookID" (click)="deleteBook(book.bookID)">Delete</button>
        <button *ngIf="!editBook || editBook.bookID !== book.bookID" (click)="toggleStock(book)">Toggle Stock</button>
      </td>
    </tr>
  </tbody>
</table>