<table class="table">
  <thead class="thead">
    <tr>
      <th class="th">ID</th>
      <th class="th-2">Title</th>
      <th class="th-3">Author</th>
      <th class="th-7">Genre</th> 
      <th class="th-4">Year Published</th>
      <th class="th-5">Description</th>
      <th class="th-6">Stock</th>
      <th class="th-8">Actions</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr *ngFor="let book of books">
      <td class="td">{{ book.bookID }}</td>
      <td class="td">{{ book.title }}</td>
      <td class="td">{{ book.author }}</td>
      <td class="td">{{ book.genre }}</td>
      <td class="td">{{ book.publicationYear }}</td>
      <td class="td">{{ book.bookDescription }}</td>
      <td class="td">{{ book.isInStock ? 'In Stock' : 'Out of Stock' }}</td>
      <td class="td">
        <button class="btn-primary" (click)="editBook(book)">Edit</button>
        <button (click)="deleteBook(book.bookID)">Delete</button>
        <button (click)="toggleStock(book)">Toggle Stock</button>
      </td>
    </tr>
  </tbody>
</table>