/* :host ::ng-deep .table-custom {
  border-radius: 8px !important;
  background-color: rgba(31, 41, 55, 1) !important;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
  margin-top: 24px !important;
  width: 100% !important;
  overflow: hidden;
  border-collapse: collapse;
}

@media (max-width: 991px) {
  :host ::ng-deep .table {
    max-width: 100%;
  }
}


:host ::ng-deep .thead {
  color: rgba(156, 163, 175, 1) !important;
  text-transform: uppercase !important;
  background-color: rgba(55, 65, 81, 1) !important;
  font: 600 12px/1 Roboto, sans-serif !important;
}

:host ::ng-deep .th, :host ::ng-deep .th-2, :host ::ng-deep .th-3, :host ::ng-deep .th-4, :host ::ng-deep .th-5, :host ::ng-deep .th-6 {
  text-align: left !important;
  padding: 20px 24px !important;
}

@media (max-width: 991px) {
  :host ::ng-deep .th-2, :host ::ng-deep .th-3, :host ::ng-deep .th-5, :host ::ng-deep .th-6 {
    white-space: initial !important;
    padding: 0 20px !important;
  }
  :host ::ng-deep .th-4 {
    padding: 0 20px !important;
  }
} */
